<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MCQ Exam</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
  <style>
    /* Custom CSS styles */
    body {
      font-family: Arial, sans-serif;
    }

    .header {
      text-align: right;
      margin-right: 20px; /* Adjust the margin as needed */
    }

    .question {
      margin-bottom: 20px;
    }

    .option {
      margin-top: 10px;
    }

    .navigation {
      margin-top: 20px;
    }

  </style>
</head>
<body>
<!-- display the current question -->
<div class="question" th:each="question, questionIndex : ${questions.content}">
  <h3 th:text="${question.questionType}"></h3>
  <form>
    <div class="option">
      <input type="radio" th:id="${'option1-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option1}">
      <label th:for="${'option1-' + question.id}" th:text="${question.options.option1}"></label>
    </div>
    <div class="option">
      <input type="radio" th:id="${'option2-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option2}">
      <label th:for="${'option2-' + question.id}" th:text="${question.options.option2}"></label>
    </div>
    <div class="option">
      <input type="radio" th:id="${'option3-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option3}">
      <label th:for="${'option3-' + question.id}" th:text="${question.options.option3}"></label>
    </div>
    <div class="option">
      <input type="radio" th:id="${'option4-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option4}">
      <label th:for="${'option4-' + question.id}" th:text="${question.options.option4}"></label>
    </div>
  </form>
</div>

<!-- display buttons based on the question's position -->
<div class="navigation">
  <!-- Cancel button -->
  <button onclick="window.location.href='cancel.html'">Cancel</button>

  <!-- Previous button -->
  <div class="previous" th:if="${questions.hasPrevious()}">
    <a th:href="@{/mcq/exam(category=${category}, level=${level}, setNumber=${setNumber}, page=${questions.number - 1})}">Previous</a>
  </div>

  <!-- Next button -->
  <div class="next" th:if="${questions.hasNext()}">
    <a th:href="@{/mcq/exam(category=${category}, level=${level}, setNumber=${setNumber}, page=${questions.number + 1})}">Next</a>
  </div>

  <!-- Submit button -->
  <div class="submit" th:if="${questions.last}">
    <button onclick="window.location.href='result.html'">Submit</button>
  </div>
</div>

<!-- display page number in the header -->
<div class="header">
  <span>Page <span th:text="${questions.number + 1}"></span> of <span th:text="${totalCount}"></span></span>
</div>

</body>
</html>
