<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MCQ Exam</title>
  <style>
        /* CSS styles here */
    </style>
  <div>Total Count: <span th:text="${totalCount}"></span></div>
  <div>Total Marks: <span th:text="${totalMarks}"></span></div>

</head>
<body>
<!-- display the current question -->
<div class="question" th:each="question, questionIndex : ${questions.content}">
  <h3 th:text="${question.questionType}"></h3>
  <form>
    <div class="option">
      <input type="radio" th:id="${'option1-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option1}">
      <label th:for="${'option1-' + question.id}" th:text="${question.options.option1}"></label>
    </div>
    <div class="option">
      <input type="radio" th:id="${'option2-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option2}">
      <label th:for="${'option2-' + question.id}" th:text="${question.options.option2}"></label>
    </div>
    <div class="option">
      <input type="radio" th:id="${'option3-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option3}">
      <label th:for="${'option3-' + question.id}" th:text="${question.options.option3}"></label>
    </div>
    <div class="option">
      <input type="radio" th:id="${'option4-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option4}">
      <label th:for="${'option4-' + question.id}" th:text="${question.options.option4}"></label>
    </div>
  </form>
</div>

<!-- display the "Next" button if there are more questions -->
<div class="next" th:if="${questions.hasNext()}">
  <a th:href="@{/mcq/exam(category=${category}, level=${level}, setNumber=${setNumber}, page=${questions.number + 1})}">Next</a>
</div>
</body>
</html>
