<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Start Exam</title>
</head>

<body>
<h1>Start Exam</h1>
<form action="#" th:action="@{/mcq/exam}" method="get">
  <label for="Category">Category:</label>
  <select id="Category" name="category">
    <option value="Java">Java</option>
    <option value=".Net">.Net</option>
    <option value="Testing">Testing</option>
  </select>
  <br>
  <label for="level">Level:</label>
  <select id="level" name="level">
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
  </select>
  <br>
  <label for="questionSet">Question Set:</label>
  <select id="questionSet" name="setNumber">
    <option value="1">Set A</option>
    <option value="2">Set B</option>
    <option value="3">Set C</option>
    <option value="4">Set D</option>
  </select>
  <br>
  <button type="submit">Submit</button>
</form>
</body>

</html>
